:root {
    --color-primary: #27AE60;
    --color-secondary: #EB5757;

    --color-grey-0: #F5F5F5;
    --color-grey-100: #E0E0E0;
    --color-grey-200: #BDBDBD;
    --color-grey-300: #828282;
    --color-grey-600: #333333;
    --color-white: #FFFFFF;

    --font-primary: 'Inter', sans-serif;

    --font-weight-1: 400;
    --font-weight-2: 600;
    --font-weight-3: 700;

    --font-size-1: 12px;
    --font-size-2: 14px;
    --font-size-3: 16px;
    --font-size-4: 18px;
}

body {
    font-family: var(--font-primary);
    background-color: var(--color-white);
    width: 100vw;
}