//Hamburguer, Carrinho de compras, Hamburguer (modal)
.title1 {
    font-size: var(--font-size-4);
    font-weight: var(--font-weight-3);
    line-height: 24px;
    letter-spacing: 0em;
}

//Remover todos
.title2 {
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-2);
    line-height: 19px;
    letter-spacing: 0em;
}

//16,00(modal), total (modal), 50,00 (modal), Adicionar, 10,00(card)
.title3 {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-2);
    line-height: 24px;
    letter-spacing: 0em;
}

//Sobremesas/Bebidas/Sanduíches
.title4 {
    font-size: var(--font-size-2);
    font-weight: var(--font-weight-1);
    line-height: 16.94px;
    letter-spacing: 0em;
}